.worldMap {
    position: relative;
}

.earth {
    /*fill: #e5eef8;*/
    fill: #fff;
}

.country:hover {
    /*border: 5px solid red;*/
    fill: #4d7e80;
}

.tooltipWorld {
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    background: #ffffffe3;
    border-radius: 30px;
    padding: 0.6em 1em;
    text-align: center;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.tooltip-country {
    font-size: 0.8em;
    font-weight: 900;
}

.tooltip-value {
    font-weight: 900;
}

.legend-title {
    fill: #576574;
    text-anchor: middle;
    font-weight: 500;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

/* .legend-byline {
    fill: #576574;
    opacity: 0.6;
    text-anchor: middle;
    font-size: 0.7em;
} */

.legend-value {
    fill: #576574;
    dominant-baseline: middle;
    font-size: 0.8em;
}

.legend-value:first-of-type {
    text-anchor: end;
}
